@model NmpOnTap.Models.Nmp_Sach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_NmpLayout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Nmp_Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nmp_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nmp_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nmp_SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nmp_SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nmp_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nmp_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nmp_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nmp_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmpTacGia.Nmp_TenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpTacGia.Nmp_TenTG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "NmpEdit", new { id = Model.Nmp_MaSach }) |
    @Html.ActionLink("Back to List", "NmpIndex")
</p>
