@model IEnumerable<NmpOnTap.Models.Nmp_Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NmpLayout.cshtml";
}

<h2>Danh mục sách</h2>

<p>
    @Html.ActionLink("Create New", "NmpCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nmp_TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nmp_SoTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nmp_NamXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nmp_TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmpTacGia.Nmp_TenTG)
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nmp_TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nmp_SoTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nmp_NamXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nmp_TrangThai)
            @if (item.Nmp_TrangThai == true)
                {
                    <span style="color:green">Còn hàng</span>
                }
            else
                {
                    <span style="color:red">Hết hàng</span>
                }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NmpTacGia.Nmp_TenTG)
        </td>
        <td>
            @Html.ActionLink("Edit", "NmpEdit", new { id=item.Nmp_MaSach }) |
            @Html.ActionLink("Details", "NmpDetails", new { id=item.Nmp_MaSach }) |
            @Html.ActionLink("Delete", "NmpDelete", new { id=item.Nmp_MaSach })
        </td>
    </tr>
}

</table>
