@model NmpLesson07Db.Models.NmpKhoa

@{
    ViewBag.Title = "NmpDetails";
}

<h2>Details</h2>

<div>
    <h4>NmpKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmpTenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpTenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmpTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("NMP:Edit", "NmpEdit", new { id = Model.NmpMaKhoa }) |
    @Html.ActionLink("Back to List", "NmpIndex")
</p>
