@model NmpLesson10.Models.NmpAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_NmpLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NmpAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmpUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmpPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmpFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmpEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmpPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmpActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmpActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
