@model NmpOnTap.Models.NmpTacGia

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_NmpLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NmpTacGia</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Nmp_MaTG)

        <div class="form-group">
            @Html.LabelFor(model => model.Nmp_TenTG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nmp_TenTG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nmp_TenTG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "NmpIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
