@model IEnumerable<NmpLesson08Db.Models.Khoa>

@{
    ViewBag.Title = "NmpIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "NmpCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.ActionLink("NMP:Edit", "NmpEdit", new { id=item.MaKH.Trim() }) |
            @Html.ActionLink("NMP:Details", "NmpDetails", new { id=item.MaKH.Trim() }) |
            @Html.ActionLink("NMP:Delete", "NmpDelete", new { id=item.MaKH.Trim() })
        </td>
    </tr>
}

</table>
